{% extends 'layouts/site_layout.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-color: lightgray;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">{{ controller_name }}</h1>
        <p>{{ page_name }}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, orci et bibendum mattis, turpis neque condimentum augue, at scelerisque quam massa nec odio. Donec ornare rhoncus est quis elementum. Donec posuere euismod erat, nec mattis odio commodo at. Mauris pharetra, lectus convallis mattis tempor, orci mi pharetra dolor, vel tristique mi dolor vitae quam. Integer sit amet feugiat neque, in ullamcorper nibh. Suspendisse sed tincidunt nisi. Nulla eu est iaculis eros porta pulvinar. Integer a mi dignissim, interdum sem quis, varius enim. Etiam id erat gravida, finibus lacus in, viverra dui. Ut libero leo, consectetur sed ullamcorper quis, euismod in odio. Nam in velit diam. Donec sollicitudin nibh scelerisque dapibus tincidunt. Integer in erat finibus, mollis nisi sagittis, malesuada erat. Donec sagittis, ligula ac vehicula scelerisque, erat tellus tincidunt metus, id facilisis justo quam a sem.
        </p>
    </div>
{% endblock %}
